name: Multi node test workflow
# This workflow is triggered on pull requests to master
on:
  pull_request:
    branches:
      - master
      - rollup-dev
  push:
    branches:
      - master
      - rollup-dev

jobs:
  build:
    # Job name
    name: Build Index Management
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout Branch
        uses: actions/checkout@v2
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14
      - name: Run integration tests with multi node config
        run: ./gradlew integTest -PnumNodes=3
      - name: Upload failed logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: logs
          path: build/testclusters/*
